<a href="https://colab.research.google.com/github/nrarifahmed/pyspark/blob/main/filterOper_PS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
 !nvidia-smi

Thu May 20 16:17:25 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   49C    P8    10W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In this Video We will Cover,
PySpark Dataframe,
Reading The Dataset,
Checking the Datatypes of the Column(Schema),
Selecting Columns And Indexing,
Check Describe option similar to Pandas,
Adding Columns,
Dropping columns,
Renaming Columns,

In [10]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 76kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 20.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=f465725020810d34e059438dfca447d4d3f4e7e332fe3a57987f70f41b051889
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [11]:
from google.colab import drive

In [12]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [13]:
from pyspark.sql import SparkSession

In [15]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [16]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/My Drive/Colab Notebooks/pyspark/test1.csv',inferSchema=True)

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [18]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [19]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [22]:
df_pyspark.filter("Salary>=10000").select('Name','Age','Salary').show()

+---------+---+------+
|     Name|Age|Salary|
+---------+---+------+
|    Krish| 31| 30000|
|Sudhanshu| 30| 25000|
|    Sunny| 29| 20000|
|     Paul| 24| 20000|
|   Harsha| 21| 15000|
|  Shubham| 23| 18000|
+---------+---+------+

In [26]:
df_pyspark.filter((df_pyspark['Salary'] >=10000) |
                  (df_pyspark['Salary'] <=20000)).select('Name','Age','Salary','Experience').show()

+---------+---+------+----------+
|     Name|Age|Salary|Experience|
+---------+---+------+----------+
|    Krish| 31| 30000|        10|
|Sudhanshu| 30| 25000|         8|
|    Sunny| 29| 20000|         4|
|     Paul| 24| 20000|         3|
|   Harsha| 21| 15000|         1|
|  Shubham| 23| 18000|         2|
+---------+---+------+----------+

In [27]:
df_pyspark.filter((df_pyspark['Salary'] >=10000) &
                  (df_pyspark['Salary'] <=20000)).select('Name','Age','Salary','Experience').show()

+-------+---+------+----------+
|   Name|Age|Salary|Experience|
+-------+---+------+----------+
|  Sunny| 29| 20000|         4|
|   Paul| 24| 20000|         3|
| Harsha| 21| 15000|         1|
|Shubham| 23| 18000|         2|
+-------+---+------+----------+