<a href="https://colab.research.google.com/github/nrarifahmed/pyspark/blob/main/groupBy_PS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 !nvidia-smi

Fri May 21 04:50:08 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   45C    P8     9W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In this Video We will Cover,
PySpark Dataframe,
Reading The Dataset,
Checking the Datatypes of the Column(Schema),
Selecting Columns And Indexing,
Check Describe option similar to Pandas,
Adding Columns,
Dropping columns,
Renaming Columns,

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 77kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 22.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=837d782a47761d1c2010fc179e5e93852f1e4431b33a35695720838c7c63575a
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('aggregate').getOrCreate()

In [44]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/My Drive/Colab Notebooks/pyspark/test3.csv',inferSchema=True)
df_pyspark_1=spark.read.option('header','true').csv('/content/drive/My Drive/Colab Notebooks/pyspark/test3.csv',inferSchema=True)

In [45]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [46]:
df_pyspark.describe().show()

+-------+-----+-----------+-----------------+
|summary| Name|Departments|           salary|
+-------+-----+-----------+-----------------+
|  count|   10|         10|               10|
|   mean| null|       null|           7300.0|
| stddev| null|       null|5396.500923952689|
|    min|Krish|   Big Data|             2000|
|    max|Sunny|        IOT|            20000|
+-------+-----+-----------+-----------------+

In [47]:
df_pyspark.filter("salary>=10000").select('Name','Departments','salary').sort('Name','salary').show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|Data Science| 20000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

In [29]:
df_pyspark.groupby('Departments').max('salary').show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [42]:
df_pyspark.select('salary').show()

+------+
|salary|
+------+
| 10000|
|  5000|
|  4000|
|  4000|
|  3000|
| 20000|
| 10000|
|  5000|
| 10000|
|  2000|
+------+

In [ ]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').max('salary').show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [ ]:
## Groupby
### Grouped to find the maximum salary based on Departments
df_pyspark.groupBy('Departments').max('salary').show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [ ]:
## Groupby
### Grouped to find the maximum salary based on Departments
df_pyspark.groupBy('Departments').avg('salary').show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
## Groupby
### Grouped to find the sum of  salary based on Departments
df_pyspark.groupBy('Departments').sum('salary').show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [ ]:
## Groupby
### Grouped to find the MINIMUM salary based on Departments
df_pyspark.groupBy('Departments').min('salary').show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [56]:
## Join
df_spark_join=df_pyspark.join(df_pyspark_1).sort(df_pyspark['Name'])
df_spark_join.show()

+-----+------------+------+---------+------------+------+
| Name| Departments|salary|     Name| Departments|salary|
+-----+------------+------+---------+------------+------+
|Krish|Data Science| 10000|    Krish|Data Science| 10000|
|Krish|Data Science| 10000|    Krish|         IOT|  5000|
|Krish|Data Science| 10000|   Mahesh|    Big Data|  4000|
|Krish|Data Science| 10000|    Krish|    Big Data|  4000|
|Krish|Data Science| 10000|   Mahesh|Data Science|  3000|
|Krish|Data Science| 10000|Sudhanshu|Data Science| 20000|
|Krish|Data Science| 10000|Sudhanshu|         IOT| 10000|
|Krish|Data Science| 10000|Sudhanshu|    Big Data|  5000|
|Krish|Data Science| 10000|    Sunny|Data Science| 10000|
|Krish|Data Science| 10000|    Sunny|    Big Data|  2000|
|Krish|         IOT|  5000|    Krish|Data Science| 10000|
|Krish|         IOT|  5000|    Krish|         IOT|  5000|
|Krish|         IOT|  5000|   Mahesh|    Big Data|  4000|
|Krish|         IOT|  5000|    Krish|    Big Data|  4000|
|Krish|         IOT|  5000|   Mahesh|Data Science|  3000|
|Krish|         IOT|  5000|Sudhanshu|Data Science| 20000|
|Krish|         IOT|  5000|Sudhanshu|         IOT| 10000|
|Krish|         IOT|  5000|Sudhanshu|    Big Data|  5000|
|Krish|         IOT|  5000|    Sunny|Data Science| 10000|
|Krish|         IOT|  5000|    Sunny|    Big Data|  2000|
+-----+------------+------+---------+------------+------+
only showing top 20 rows

In [62]:
## Union
df_spark_union=df_pyspark.union(df_pyspark_1)
df_spark_union.sort('Departments').show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|Sudhanshu|    Big Data|  5000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|    Big Data|  2000|
|    Sunny|    Big Data|  2000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|    Sunny|Data Science| 10000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|Data Science| 20000|
|    Krish|Data Science| 10000|
|   Mahesh|Data Science|  3000|
|    Sunny|Data Science| 10000|
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|         IOT| 10000|
|    Krish|         IOT|  5000|
+---------+------------+------+